// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html
  background-color: #161111

body
  font-size: 1em
  > header
    h1
      +text-shadow(1px 1px 10px rgba(#68f666, 1))
    background: url(/images/drsnjm-header.png) no-repeat
    background-position: 92% 47px
    @media only screen and (min-width: 809px)
      background-position: 98% 6px
    @media only screen and (min-width: 992px)
      background-position: 94% 6px
    h2
      font-size: $header-subtitle-font-size
  nav[role=navigation]
    +border-radius(3px 3px 0 0)
    ul
      padding-top: 0

ol, ul
  list-style-position: inside

p, blockquote, ul, ol
  margin-bottom: .8em

article
  font-family: $sans
  a
    white-space: normal
  header
    padding-bottom: 1em
    margin-bottom: 1.4em
  .entry-content > *:first-child
    margin-top: 0
    padding-top: 0

h1, h2, h3, h4 ,h5 ,h6
  font-weight: normal
  margin: .8em 0 .4em
